@import "modules/all";

body {
  font-family: 'open_sansregular';
  font-size: 16px;
  background-color: white;
  color:$grey;
}

hr {
   border : none;
   background-color: currentColor;
   width: 20px;
   height : 1px;
   margin : 20px 0;
}

.text-center hr {
  margin: 20px auto;
}

p {
  line-height: 24px;
}

/* Blockquote */

blockquote {
  border: none;
  position: relative;
}

blockquote footer, blockquote small, blockquote .small {
  padding-top: 15px;
}

blockquote footer:before, blockquote small:before, blockquote .small:before {
  content: "";
  width: 20px;
  height : 1px;
  background-color: #777;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -10px;
}

/* Forms */
