@font-face {
  font-family:'LoveloBlack-Regular';
  src: url('../fonts/lovelo/LoveloBlack_latin+latin-ext_gdi.eot');
  src: url('../fonts/lovelo/LoveloBlack_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lovelo/LoveloBlack_latin+latin-ext_gdi.woff') format('woff'),
    url('../fonts/lovelo/LoveloBlack_latin+latin-ext_gdi.ttf') format('truetype'),
    url('../fonts/lovelo/LoveloBlack_latin+latin-ext_gdi.svg#LoveloBlack-Regular') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-20AC;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family:'Montserrat-Regular';
  src: url('../fonts/montserrat/Montserrat-Regular_latin+latin-ext_gdi.eot');
  src: url('../fonts/montserrat/Montserrat-Regular_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat/Montserrat-Regular_latin+latin-ext_gdi.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Regular_latin+latin-ext_gdi.ttf') format('truetype'),
    url('../fonts/montserrat/Montserrat-Regular_latin+latin-ext_gdi.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2215;
}

/* HELPER Classes */

/* Typography */

.italic { font-style: italic !important; }
.bold { font-weight: bold !important; }

.font11 { font-size: 11px !important; }
.font12 { font-size: 12px !important; }
.font13 { font-size: 13px !important; }
.font14 { font-size: 14px !important; }
.font16 { font-size: 16px !important; }
.font18 { font-size: 18px !important; }
.font20 { font-size: 20px !important; }
.font22 { font-size: 22px !important; }
.font24 { font-size: 24px !important; }

.line-1 { line-height: 1; }

.ls-plus-1 { letter-spacing: 1px;}
.ls-minus-1 { letter-spacing: -1px;}

/* Centering */

.margin-center {
  margin-right: auto;
  margin-left: auto;
}

/* Display */
.inline-block { display: inline-block !important; }
.block { display: block !important; }
.inline { display: inline !important; }


/* Margin and Padding Helpers */

.margin-0 { margin: 0 !important; }
.padding-0 { padding: 0 !important; }

.margin-10 { margin: 10px 0px !important; }
.margin-15 { margin: 15px 0px !important; }
.margin-20 { margin: 20px 0px !important; }
.margin-25 { margin: 25px 0px !important; }
.margin-30 { margin: 30px 0px !important; }
.margin-35 { margin: 35px 0px !important; }
.margin-40 { margin: 40px 0px !important; }
.margin-45 { margin: 45px 0px !important; }
.margin-50 { margin: 50px 0px !important; }
.margin-60 { margin: 60px 0px !important; }
.margin-70 { margin: 70px 0px !important; }
.margin-80 { margin: 80px 0px !important; }

.margin-bot-0 { margin-bottom: 0px !important; }
.margin-bot-10 { margin-bottom: 10px !important; }
.margin-bot-15 { margin-bottom: 15px !important; }
.margin-bot-20 { margin-bottom: 20px !important; }
.margin-bot-25 { margin-bottom: 25px !important; }
.margin-bot-30 { margin-bottom: 30px !important; }
.margin-bot-35 { margin-bottom: 35px !important; }
.margin-bot-40 { margin-bottom: 40px !important; }
.margin-bot-45 { margin-bottom: 45px !important; }
.margin-bot-50 { margin-bottom: 50px !important; }
.margin-bot-60 { margin-bottom: 60px !important; }
.margin-bot-70 { margin-bottom: 70px !important; }
.margin-bot-80 { margin-bottom: 80px !important; }

.margin-top-0 { margin-top: 0px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-top-25 { margin-top: 25px !important; }
.margin-top-30 { margin-top: 30px !important; }
.margin-top-35 { margin-top: 35px !important; }
.margin-top-40 { margin-top: 40px !important; }
.margin-top-45 { margin-top: 45px !important; }
.margin-top-50 { margin-top: 50px !important; }
.margin-top-60 { margin-top: 60px !important; }
.margin-top-70 { margin-top: 70px !important; }
.margin-top-80 { margin-top: 80px !important; }

.padding-bot-0 { padding-bottom: 0px !important; }
.padding-bot-10 { padding-bottom: 10px !important; }
.padding-bot-15 { padding-bottom: 15px !important; }
.padding-bot-20 { padding-bottom: 20px !important; }
.padding-bot-25 { padding-bottom: 25px !important; }
.padding-bot-30 { padding-bottom: 30px !important; }
.padding-bot-35 { padding-bottom: 35px !important; }
.padding-bot-40 { padding-bottom: 40px !important; }
.padding-bot-45 { padding-bottom: 45px !important; }
.padding-bot-50 { padding-bottom: 50px !important; }
.padding-bot-60 { padding-bottom: 60px !important; }
.padding-bot-70 { padding-bottom: 70px !important; }
.padding-bot-80 { padding-bottom: 80px !important; }

.padding-top-0 { padding-top: 0px !important; }
.padding-top-10 { padding-top: 10px !important; }
.padding-top-15 { padding-top: 15px !important; }
.padding-top-20 { padding-top: 20px !important; }
.padding-top-25 { padding-top: 25px !important; }
.padding-top-30 { padding-top: 30px !important; }
.padding-top-35 { padding-top: 35px !important; }
.padding-top-40 { padding-top: 40px !important; }
.padding-top-45 { padding-top: 45px !important; }
.padding-top-50 { padding-top: 50px !important; }
.padding-top-60 { padding-top: 60px !important; }
.padding-top-70 { padding-top: 70px !important; }
.padding-top-80 { padding-top: 80px !important; }

